@{
    ViewData["Title"] = "Orders";
}

<h1 class="display-4">In Progress Order List</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<table class="table-bordered">
    <tr>
        <th>Channel Order No</th>
        <th>Merchant Order No</th>
        <th>Payment Method</th>
        <th>Order Date</th>
        <th>Sub Total Vat</th>
        <th>Sub Total Incl Vat</th>
        <th>Shipping Cost Vat</th>
        <th>Shipping Cost Incl Vat</th>
        <th>Total Vat</th>
        <th>Total Incl Vat</th>
    </tr>
    @foreach(var item in Model.OrderDetails)
    {
        <tr>
        <td>@item.ChannelOrderNo</td>
        <td>@item.MerchantOrderNo</td>
        <td>@item.PaymentMethod</td>
        <td>@item.OrderDate</td>
        <td>@item.SubTotalVat</td>
        <td>@item.SubTotalInclVat</td>
        <td>@item.ShippingCostsVat</td>
        <td>@item.ShippingCostsInclVat</td>
        <td>@item.TotalVat</td>
        <td>@item.TotalInclVat</td>
        </tr>
    }
</table>
<div>
    <a>Page</a>
    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <td>
                    @if (i != Model.CurrentPage)
                    {
                        <a href="javascript:PagerClick(@i);">@i</a>
                    }
                    else
                    {
                        <span>@i</span>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex"/>
</div>
}

<script type="text/javascript">
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }
</script>
