@{
    ViewData["Title"] = "Orders";
}

<h1 class="display-4">Order List</h1>
<table class="table">
    <tr>
        <th>Channel Order No</th>
        <th>Merchant Order No</th>
        <th>Payment Method</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Sub Total Vat</th>
        <th>Sub Total Incl Vat</th>
        <th>Shipping Cost Vat</th>
        <th>Shipping Cost Incl Vat</th>
        <th>Total Vat</th>
        <th>Total Incl Vat</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
        <td>@item.ChannelOrderNo</td>
        <td>@item.MerchantOrderNo</td>
        <td>@item.PaymentMethod</td>
        <td>@item.OrderDate</td>
        <td>@item.Status</td>
        <td>@item.SubTotalVat</td>
        <td>@item.SubTotalInclVat</td>
        <td>@item.ShippingCostsVat</td>
        <td>@item.ShippingCostsInclVat</td>
        <td>@item.TotalVat</td>
        <td>@item.TotalInclVat</td>
        </tr>
    }
</table>
